@media screen and (min-width:768px){
    body {
        background-color: green;
    }
    .donate{
        flex-basis: 25%;
    }
    .nav_box{
        flex-basis: 75%;
        display: flex;
        justify-content: flex-end;
    }
    .project{
        flex-direction: row;
        height: 325px;
    }
    .project-image {
        height: 100%;
        flex-basis: 50%;
    }
    .project-image img{
        border-radius: 1rem 0 0 1rem;
    }
    .volunteer{
        display: flex;
    }
    .tree{
        display: block;
        flex-basis: 40%;
        height: 500px;
    }
    .about{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        
    }
    .tree img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom center;
    }
    footer{
        flex-direction: row;
        height: 200px;
    }
    }
    @media screen and (min-width:1200px){
        body{
            background-color: green;
        }
        .menu{
            display: none;
        }
        #nav_show{
            display: flex;
            
            flex-grow: 1;
        }
        #nav_show ul{
            list-style: none;
            display: flex;
            width: 100%;
        }
    
        #nav_show ul li{
            flex-basis: 15%;
            text-align: center;
        }
    
        #nav_show ul li a{
            text-decoration: none;
            color: white;
        }
    
        .navigation{
            display: flex;
            flex-direction: row-reverse;
        }
    .project{
        flex-basis: 45%;
        height: 350px;
        flex-grow: 1;
    }
    .section-title{
        flex-basis: 100%;
    }
    .tree{
        flex-basis: 50%;
    }
    .about{
        flex-basis: 50%;
    }
    }